Лабораторная работа 3.1

In [1]:
import pandas as pd
import xlwings as xw

1. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample.csv` (__ЛР5__) в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [2]:
reviews = pd.read_csv('data/reviews_sample.csv', index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [3]:
recipes = pd.read_csv('data/recipes_sample.csv')
recipes = recipes[['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients']]
recipes

,id,name,minutes,submitted,description,n_ingredients
0,44123,george s at the cove black bean soup,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,67664,healthy for them yogurt popsicles,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,38798,i can t believe it s spinach,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,35173,italian gut busters,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,84797,love is in the air beef fondue sauces,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...
29995,267661,zurie s holey rustic olive and cheddar bread,80,2007-11-25,this is based on a french recipe but i changed...,10.0
29996,386977,zwetschgenkuchen bavarian plum cake,240,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
29997,103312,zwiebelkuchen southwest german onion cake,75,2004-11-03,this is a traditional late summer early fall s...,NaN
29998,486161,zydeco soup,60,2012-08-29,this is a delicious soup that i originally fou...,NaN
29999,298512,cookies by design cookies on a stick,29,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [4]:
random_recipes = recipes.sample(int(recipes.shape[0] * 0.05))
random_recipes

,id,name,minutes,submitted,description,n_ingredients
17771,56645,minnesota s favorite cookies,25,2003-03-19,i found this recipe on allrecipes.com. it is a...,11.0
7250,94609,cocoa cupcakes,45,2004-06-29,these are light and fluffy and the cocoa powde...,9.0
12951,159622,grilled peanut chicken,17,2006-03-13,"made with peanut butter, lime juice, soy sauce...",NaN
21336,229637,portuguese garlic nailed steak prego no pao,30,2007-05-23,serve on a plate with rice and vegetables or s...,NaN
1577,264683,b b homemade granola,40,2007-11-10,i got this granola recipe from a lovely countr...,7.0
...,...,...,...,...,...,...
26360,13675,sunday dinner veggies on a baking stone,80,2001-11-03,i find that doing your veggies on a baking sto...,7.0
1112,355792,arizona lemon meringue pie,15,2009-02-14,lemon extract and fresh lemons from my very ow...,13.0
12085,285107,glazed asparagus carrots with pecans,30,2008-02-08,a lemon glaze tops a springtime combination of...,8.0
10237,116244,easy strawberry spinach salad,5,2005-04-11,this recipe uses bottled dressing instead of d...,NaN
28319,217959,twig s taco pizza,100,2007-03-21,i miss living where pizza hut has a taco pizza...,NaN

In [5]:
random_reviews = reviews.sample(int(reviews.shape[0] * 0.05))
random_reviews

,user_id,recipe_id,date,rating,review
1123597,72489,57679,2004-04-30,5,"YUMMY!!!!\r\nI used a ""store bought"" graham cr..."
388055,89831,29977,2004-11-23,5,Wonderful fried chicken without the frying Mis...
528586,464080,92762,2009-02-07,4,A tasty and healthy side dish to some roast ch...
481972,13796,132704,2005-08-09,4,Hey! I just tried this recipe. I think I found...
356807,137911,42603,2008-01-13,5,I made these last week for a Sunday School tea...
...,...,...,...,...,...
608336,141569,171552,2006-06-12,5,This is simply delicious and very quick and ea...
678542,2522969,250556,2012-11-22,5,So easy and delicious! This was the first time...
213134,356620,36627,2008-06-17,5,I brought these to work for a brownie baking c...
348761,845720,50719,2008-05-23,3,I omitted the nutmeg and just sprinkled sugar ...
642666,57101,35988,2009-01-26,4,Very good soup. I LOVE the use of spinach in i...

In [6]:
with pd.ExcelWriter('data/recipes.xlsx') as writer:
    random_recipes.to_excel(writer, sheet_name='Рецепты')
    random_reviews.to_excel(writer, sheet_name='Отзывы')

3. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_assign`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [7]:
seconds_assign = random_recipes['minutes'] * 60
seconds_assign

17771    1500
7250     2700
12951    1020
21336    1800
1577     2400
         ...
26360    4800
1112      900
12085    1800
10237     300
28319    6000
Name: minutes, Length: 1500, dtype: int64

In [8]:
wb_1 = xw.Book('data/recipes.xlsx')
sheet_recipes = wb_1.sheets('Рецепты')
sheet_reviews = wb_1.sheets('Отзывы')

In [9]:
sheet_recipes.range('H1').value = 'seconds_assign'

In [10]:
sheet_recipes.range('H2').options(transpose=True).value = seconds_assign.values

4. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_formula`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [11]:
sheet_recipes.range('I1').value = 'seconds_formula'

In [43]:
formula_1 = sheet_recipes.range('I2').formula = '=D2*60'
sheet_recipes.range('I2:I1501').formula = formula_1

5. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

In [14]:
column_headers = sheet_recipes.range('H1:I1')
column_headers.options(horizontal='center', vertical='center').api.Font.Bold = True

6. Раскрасьте ячейки столбца `minutes` в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

In [23]:
minutes = sheet_recipes.range('D2:D1501')

for i in range(1500):
    if minutes[i].value < 5:
        minutes[i].color = (0, 128, 0)
    elif minutes[i].value <= 10:
        minutes[i].color = (255, 255, 0)
    else:
        minutes[i].color = (255, 0, 0)

7. Добавьте на лист `Рецепты`  столбец `n_reviews`, содержащий кол-во отзывов для этого рецепта. Выполните задание при помощи формул Excel.

In [25]:
#Создаю заголовок столбца и форматирую его по аналогии с заголовками других столбцов
sheet_recipes.range('J1').value = 'n_reviews'
sheet_recipes.range('J1').options(horizontal='center', vertical='center').api.Font.Bold = True

In [31]:
#Копирую данные из столбца reviews из листа Отзывы в лист Рецепты
recipes_with_reviews = sheet_reviews.range('C1').expand('down')
sheet_recipes.range('M1').options(transpose=True).value = recipes_with_reviews.value

In [37]:
rng_name = xw.Range('M1').expand('down').address
rng_name

'$M$1:$M$6335'

In [44]:
review_count_formula = sheet_recipes.range('J2').formula = '=COUNTIF($M$1:$M$6335, B2)'
sheet_recipes.range('J2:J1501').formula = review_count_formula

In [46]:
sheet_recipes.range('M1:M6335').clear()

Лабораторная работа 3.2

8. Напишите функцию `validate()`, которая проверяет соответствие всех строк из листа `Отзывы` следующим правилам:
    * Рейтинг - это число от 0 до 5 включительно
    * Соответствующий рецепт имеется на листе `Рецепты`
    
В случае несоответствия этим правилам, выделите строку красным цветом

In [62]:
#Создаю список всех рецептов, присутствующих в листе Рецепты
recipes_list = sheet_recipes.range('B2').expand('down').value
recipes_list

[56645.0,
 94609.0,
 159622.0,
 229637.0,
 264683.0,
 499152.0,
 218366.0,
 313500.0,
 92669.0,
 98595.0,
 104588.0,
 164778.0,
 57470.0,
 340896.0,
 479249.0,
 430325.0,
 492719.0,
 287685.0,
 372145.0,
 345901.0,
 412353.0,
 382060.0,
 41986.0,
 12502.0,
 423271.0,
 182067.0,
 189351.0,
 43062.0,
 325799.0,
 4691.0,
 195998.0,
 162931.0,
 144794.0,
 102321.0,
 359940.0,
 340327.0,
 208190.0,
 54369.0,
 413824.0,
 69628.0,
 424312.0,
 378995.0,
 414036.0,
 20116.0,
 129533.0,
 242193.0,
 48364.0,
 149323.0,
 108732.0,
 210334.0,
 150375.0,
 49337.0,
 427766.0,
 53346.0,
 519111.0,
 44415.0,
 23696.0,
 26966.0,
 253488.0,
 202719.0,
 468886.0,
 488343.0,
 215766.0,
 390204.0,
 228677.0,
 123361.0,
 26760.0,
 132426.0,
 13088.0,
 349544.0,
 330463.0,
 128861.0,
 89614.0,
 177450.0,
 147469.0,
 68451.0,
 412529.0,
 202744.0,
 111552.0,
 429306.0,
 68986.0,
 346660.0,
 504013.0,
 437479.0,
 241268.0,
 462145.0,
 128325.0,
 71023.0,
 143888.0,
 327240.0,
 289874.0,
 258509.0,
 391586.0,
 221633.0,
 33276.0,
 307316.0,
 30014.0,
 406974.0,
 34019.0,
 155637.0,
 3145.0,
 223779.0,
 451460.0,
 178010.0,
 530479.0,
 72180.0,
 290628.0,
 125726.0,
 264700.0,
 140673.0,
 84701.0,
 62212.0,
 240919.0,
 396751.0,
 22003.0,
 178408.0,
 137701.0,
 24415.0,
 224960.0,
 51555.0,
 134680.0,
 437642.0,
 453575.0,
 269030.0,
 244433.0,
 265830.0,
 232757.0,
 137164.0,
 61000.0,
 54310.0,
 192023.0,
 71933.0,
 12019.0,
 153916.0,
 426235.0,
 304109.0,
 34564.0,
 399702.0,
 169172.0,
 10286.0,
 458666.0,
 175611.0,
 327634.0,
 498911.0,
 319769.0,
 138876.0,
 54980.0,
 415575.0,
 263139.0,
 45684.0,
 363573.0,
 383039.0,
 297455.0,
 167712.0,
 424034.0,
 79057.0,
 449229.0,
 55134.0,
 218689.0,
 17398.0,
 110178.0,
 80361.0,
 1355.0,
 340508.0,
 400894.0,
 145733.0,
 381325.0,
 21674.0,
 256460.0,
 303109.0,
 118353.0,
 358543.0,
 256701.0,
 472527.0,
 137727.0,
 91766.0,
 194521.0,
 12780.0,
 352529.0,
 366025.0,
 519547.0,
 237684.0,
 123867.0,
 74224.0,
 269646.0,
 243899.0,
 112277.0,
 262670.0,
 80750.0,
 64704.0,
 220222.0,
 114701.0,
 429081.0,
 81153.0,
 234409.0,
 408855.0,
 305426.0,
 32286.0,
 5016.0,
 42611.0,
 134496.0,
 84583.0,
 178762.0,
 301497.0,
 275943.0,
 271067.0,
 161099.0,
 61425.0,
 220526.0,
 89731.0,
 350602.0,
 45804.0,
 71036.0,
 33642.0,
 139049.0,
 451666.0,
 102448.0,
 212381.0,
 496289.0,
 298512.0,
 359545.0,
 12157.0,
 474799.0,
 470769.0,
 283640.0,
 281999.0,
 653.0,
 349250.0,
 104098.0,
 19410.0,
 152237.0,
 97739.0,
 345946.0,
 220011.0,
 39452.0,
 187946.0,
 107418.0,
 130178.0,
 17579.0,
 481240.0,
 90092.0,
 477382.0,
 379059.0,
 102481.0,
 435578.0,
 324638.0,
 242587.0,
 152417.0,
 122101.0,
 215089.0,
 312325.0,
 345798.0,
 106891.0,
 152471.0,
 207895.0,
 74443.0,
 98248.0,
 332540.0,
 180164.0,
 139603.0,
 144196.0,
 161604.0,
 296495.0,
 303546.0,
 128606.0,
 89159.0,
 493256.0,
 92696.0,
 341044.0,
 324414.0,
 504441.0,
 428023.0,
 206229.0,
 307090.0,
 84201.0,
 504548.0,
 179797.0,
 228157.0,
 51744.0,
 377000.0,
 28954.0,
 25727.0,
 255144.0,
 384911.0,
 415095.0,
 385440.0,
 306323.0,
 183073.0,
 110435.0,
 120416.0,
 412730.0,
 438091.0,
 144509.0,
 115354.0,
 117278.0,
 177831.0,
 384583.0,
 320583.0,
 2889.0,
 221250.0,
 245429.0,
 162239.0,
 201047.0,
 179236.0,
 346364.0,
 35589.0,
 147798.0,
 52732.0,
 274770.0,
 289825.0,
 31618.0,
 76038.0,
 61120.0,
 442235.0,
 197461.0,
 368091.0,
 27293.0,
 204248.0,
 85954.0,
 267058.0,
 323986.0,
 30602.0,
 26293.0,
 37361.0,
 92778.0,
 103954.0,
 121123.0,
 119680.0,
 402725.0,
 264210.0,
 355068.0,
 215150.0,
 71439.0,
 23604.0,
 157142.0,
 143335.0,
 14759.0,
 90884.0,
 165646.0,
 129781.0,
 135437.0,
 113362.0,
 22319.0,
 458880.0,
 66352.0,
 50854.0,
 213541.0,
 337317.0,
 166677.0,
 55760.0,
 121014.0,
 202748.0,
 62204.0,
 290209.0,
 138183.0,
 31730.0,
 404976.0,
 177328.0,
 103005.0,
 415834.0,
 55470.0,
 215631.0,
 110925.0,
 180328.0,
 244975.0,
 403080.0,
 395526.0,
 310219.0,
 338611.0,
 344303.0,
 185181.0,
 133351.0,
 473412.0,
 471993.0,
 109884.0,
 38732.0,
 101601.0,
 3212.0,
 423839.0,
 261810.0,
 215414.0,
 111211.0,
 248279.0,
 38435.0,
 213065.0,
 385483.0,
 37144.0,
 494956.0,
 36784.0,
 188410.0,
 396111.0,
 337241.0,
 249988.0,
 251182.0,
 99481.0,
 31275.0,
 6955.0,
 104357.0,
 146428.0,
 37942.0,
 54000.0,
 120094.0,
 41980.0,
 286568.0,
 445456.0,
 34788.0,
 183545.0,
 457102.0,
 171930.0,
 43670.0,
 401488.0,
 76642.0,
 386268.0,
 427790.0,
 324600.0,
 337293.0,
 144642.0,
 95489.0,
 159935.0,
 223798.0,
 281119.0,
 340142.0,
 487387.0,
 228336.0,
 346139.0,
 241095.0,
 468621.0,
 94442.0,
 368456.0,
 268611.0,
 202300.0,
 507069.0,
 159072.0,
 488561.0,
 253916.0,
 235426.0,
 289510.0,
 131061.0,
 89218.0,
 343767.0,
 201535.0,
 438292.0,
 437353.0,
 345215.0,
 64236.0,
 398992.0,
 143862.0,
 270510.0,
 453410.0,
 197333.0,
 458738.0,
 290922.0,
 160599.0,
 67679.0,
 102471.0,
 97164.0,
 116661.0,
 31043.0,
 262994.0,
 127809.0,
 311449.0,
 196415.0,
 3193.0,
 377743.0,
 170174.0,
 294525.0,
 204958.0,
 338342.0,
 387162.0,
 183749.0,
 107986.0,
 220436.0,
 352081.0,
 310725.0,
 187872.0,
 128759.0,
 460690.0,
 399489.0,
 234239.0,
 283234.0,
 17674.0,
 129988.0,
 348734.0,
 94756.0,
 211815.0,
 310175.0,
 370775.0,
 89769.0,
 111609.0,
 290197.0,
 140579.0,
 188204.0,
 17084.0,
 65440.0,
 407852.0,
 183731.0,
 186648.0,
 347869.0,
 452871.0,
 132411.0,
 81161.0,
 237613.0,
 17551.0,
 221263.0,
 11006.0,
 196426.0,
 107894.0,
 382315.0,
 12368.0,
 92884.0,
 144164.0,
 285394.0,
 273069.0,
 479203.0,
 194517.0,
 180821.0,
 265189.0,
 249006.0,
 150808.0,
 98763.0,
 209931.0,
 52635.0,
 140034.0,
 358364.0,
 211580.0,
 125280.0,
 286682.0,
 73543.0,
 24936.0,
 330919.0,
 361865.0,
 285393.0,
 454534.0,
 504547.0,
 310044.0,
 84745.0,
 263232.0,
 350745.0,
 138717.0,
 398453.0,
 256489.0,
 31052.0,
 390686.0,
 103598.0,
 407599.0,
 322804.0,
 262070.0,
 316448.0,
 107387.0,
 104270.0,
 186466.0,
 182447.0,
 51592.0,
 173178.0,
 124897.0,
 241809.0,
 330893.0,
 373071.0,
 17904.0,
 134051.0,
 290899.0,
 470106.0,
 196311.0,
 483134.0,
 279328.0,
 61087.0,
 83891.0,
 63092.0,
 31720.0,
 383792.0,
 356347.0,
 383693.0,
 340485.0,
 229980.0,
 86427.0,
 428766.0,
 212491.0,
 257696.0,
 452783.0,
 8524.0,
 43073.0,
 180273.0,
 415308.0,
 367635.0,
 189262.0,
 270292.0,
 107132.0,
 50927.0,
 321897.0,
 309918.0,
 93156.0,
 19565.0,
 288829.0,
 95623.0,
 25066.0,
 383912.0,
 451094.0,
 260159.0,
 221247.0,
 63901.0,
 81021.0,
 148132.0,
 277708.0,
 93557.0,
 437654.0,
 279062.0,
 413783.0,
 80916.0,
 397909.0,
 413521.0,
 294696.0,
 163933.0,
 53272.0,
 93593.0,
 48690.0,
 92212.0,
 100834.0,
 114962.0,
 102026.0,
 197219.0,
 218720.0,
 384789.0,
 391030.0,
 96002.0,
 46653.0,
 130712.0,
 51112.0,
 289349.0,
 348514.0,
 475559.0,
 197796.0,
 195185.0,
 44813.0,
 36920.0,
 96307.0,
 47873.0,
 430323.0,
 286110.0,
 513947.0,
 374036.0,
 172610.0,
 178437.0,
 57907.0,
 60244.0,
 363881.0,
 226796.0,
 348444.0,
 384507.0,
 187224.0,
 175245.0,
 93206.0,
 450310.0,
 473339.0,
 172387.0,
 184004.0,
 87102.0,
 166819.0,
 145282.0,
 321621.0,
 360133.0,
 236178.0,
 249684.0,
 288565.0,
 337272.0,
 495014.0,
 424632.0,
 419149.0,
 98950.0,
 124735.0,
 237888.0,
 361940.0,
 129935.0,
 196350.0,
 59016.0,
 113582.0,
 337714.0,
 320471.0,
 136882.0,
 194081.0,
 223761.0,
 40572.0,
 305021.0,
 38650.0,
 93306.0,
 256822.0,
 388683.0,
 497758.0,
 180536.0,
 264501.0,
 345388.0,
 254410.0,
 113119.0,
 422945.0,
 259771.0,
 252909.0,
 428750.0,
 39717.0,
 116964.0,
 245415.0,
 357177.0,
 363295.0,
 427339.0,
 256377.0,
 138865.0,
 267348.0,
 196713.0,
 221236.0,
 129906.0,
 243286.0,
 275872.0,
 325558.0,
 75692.0,
 55106.0,
 366000.0,
 17322.0,
 427594.0,
 99524.0,
 246887.0,
 289319.0,
 356655.0,
 325505.0,
 359687.0,
 124810.0,
 465534.0,
 275754.0,
 392373.0,
 93090.0,
 451019.0,
 304102.0,
 95842.0,
 265664.0,
 12710.0,
 59013.0,
 437306.0,
 466311.0,
 361368.0,
 425466.0,
 66348.0,
 431961.0,
 131044.0,
 184874.0,
 74965.0,
 317878.0,
 108758.0,
 68172.0,
 263802.0,
 301513.0,
 71218.0,
 226128.0,
 330190.0,
 467964.0,
 262791.0,
 251053.0,
 8653.0,
 191347.0,
 424870.0,
 325397.0,
 260612.0,
 367459.0,
 45532.0,
 150267.0,
 62556.0,
 215798.0,
 320417.0,
 241618.0,
 156586.0,
 329975.0,
 29878.0,
 400248.0,
 35096.0,
 258412.0,
 487991.0,
 268050.0,
 285501.0,
 175145.0,
 18159.0,
 82263.0,
 66735.0,
 17106.0,
 378236.0,
 166556.0,
 18070.0,
 418827.0,
 88839.0,
 301288.0,
 8576.0,
 58457.0,
 292119.0,
 117021.0,
 225490.0,
 34814.0,
 535783.0,
 221944.0,
 43328.0,
 435738.0,
 37560.0,
 317681.0,
 308221.0,
 115375.0,
 211972.0,
 12840.0,
 57558.0,
 154823.0,
 70285.0,
 4127.0,
 169943.0,
 220438.0,
 298342.0,
 59269.0,
 403598.0,
 222739.0,
 58730.0,
 423260.0,
 224897.0,
 56109.0,
 305020.0,
 399725.0,
 286290.0,
 343901.0,
 133935.0,
 51811.0,
 142972.0,
 213117.0,
 77930.0,
 78641.0,
 452556.0,
 337971.0,
 319044.0,
 11782.0,
 190599.0,
 221504.0,
 325218.0,
 14537.0,
 355315.0,
 43974.0,
 195820.0,
 109883.0,
 187962.0,
 313162.0,
 105516.0,
 156974.0,
 324259.0,
 273365.0,
 15129.0,
 108055.0,
 29618.0,
 211473.0,
 263317.0,
 57206.0,
 145627.0,
 121891.0,
 393772.0,
 254774.0,
 227078.0,
 387400.0,
 420375.0,
 185486.0,
 153538.0,
 394044.0,
 36349.0,
 369364.0,
 187003.0,
 90708.0,
 171372.0,
 56322.0,
 166082.0,
 285522.0,
 474050.0,
 22104.0,
 417419.0,
 432871.0,
 285685.0,
 338927.0,
 503606.0,
 437101.0,
 80229.0,
 102459.0,
 300307.0,
 65204.0,
 50429.0,
 240550.0,
 200122.0,
 452590.0,
 5086.0,
 45956.0,
 288799.0,
 257177.0,
 149734.0,
 300747.0,
 344507.0,
 2982.0,
 86043.0,
 53203.0,
 149160.0,
 362641.0,
 24454.0,
 69188.0,
 221713.0,
 203207.0,
 157871.0,
 374957.0,
 144887.0,
 79865.0,
 133928.0,
 390218.0,
 377531.0,
 394191.0,
 221302.0,
 271846.0,
 88374.0,
 237164.0,
 310164.0,
 458226.0,
 409064.0,
 403264.0,
 311508.0,
 315033.0,
 16961.0,
 243845.0,
 293817.0,
 468709.0,
 448875.0,
 115171.0,
 286613.0,
 77174.0,
 84510.0,
 192859.0,
 47716.0,
 417900.0,
 110057.0,
 469496.0,
 247929.0,
 211504.0,
 11680.0,
 14400.0,
 152733.0,
 85667.0,
 478627.0,
 38495.0,
 115669.0,
 358076.0,
 185994.0,
 49139.0,
 24735.0,
 521815.0,
 411827.0,
 279006.0,
 406835.0,
 273725.0,
 416689.0,
 70655.0,
 57573.0,
 314177.0,
 384132.0,
 11114.0,
 468718.0,
 354578.0,
 332495.0,
 279912.0,
 456394.0,
 383890.0,
 76051.0,
 29512.0,
 58167.0,
 135795.0,
 303981.0,
 457954.0,
 210132.0,
 62517.0,
 43410.0,
 147276.0,
 49648.0,
 301598.0,
 3224.0,
 366389.0,
 283623.0,
 273854.0,
 323195.0,
 167567.0,
 186328.0,
 258555.0,
 419619.0,
 34063.0,
 48640.0,
 180514.0,
 190138.0,
 193167.0,
 176657.0,
 268394.0,
 359381.0,
 207541.0,
 49368.0,
 142732.0,
 394338.0,
 434512.0,
 99406.0,
 52000.0,
 96220.0,
 31408.0,
 25272.0,
 ...]

In [73]:
def validate(recipe):
    rating = recipe[4]
    recipe_id = recipe[2]
    if 0 <= rating <= 5 and recipe_id in recipes_list:
        return True
    return False

In [86]:
review_rows = sheet_reviews.range('A2').expand('down')
for row in review_rows:
    if not validate(row.expand('right').value):
        row.expand('right').color = (255, 0, 0)

9. В файле `recipes_model.csv` находится модель данных предметной области "рецепты". При помощи пакета `csv` считайте эти данные. При помощи пакета `xlwings` запишите данные на лист `Модель` книги `recipes_model.xlsx`, начиная с ячейки `A2`, не используя циклы. Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [87]:
import csv

In [97]:
with open('data/recipes_model.csv', encoding='utf-8') as csv_file:
    recipes_data = list(csv.reader(csv_file, delimiter='\t'))
    for row in recipes_data:
        print(row)

['recipe', 'name', 'varchar(100)', 'Y', 'Рецепт', 'Название рецепта', '', '', '']
['recipe', 'id', 'serial', 'N', 'Рецепт', 'ID рецепта', 'PK', '', '']
['recipe', 'minutes', 'int', 'Y', 'Рецепт', 'Длительность выполнения в минутах', '', '', '']
['recipe', 'contributor_id', 'int', 'Y', 'Рецепт', 'ID автора рецепта', 'FK', 'user', 'id']
['recipe', 'submitted', 'timestamp', 'Y', 'Рецепт', 'Дата добавления', '', '', '']
['recipe', 'n_steps', 'int', 'N', 'Рецепт', 'Кол-во шагов рецепта', '', '', '']
['recipe', 'description', 'text', 'N', 'Рецепт', 'Описание рецепта', '', '', '']
['recipe', 'n_ingredients', 'int', 'N', 'Рецепт', 'Кол-во ингредиентов в рецепта', '', '', '']
['review', 'id', 'serial', 'Y', 'Отзыв', 'ID отзыва', 'PK', '', '']
['review', 'user_id', 'int', 'Y', 'Отзыв', 'ID автора отзыва', 'FK', '', '']
['review', 'recipe_id', 'int', 'Y', 'Отзыв', 'ID рецепта', 'FK', 'recipe', 'id']
['review', 'date', 'timestamp', 'Y', 'Отзыв', 'Дата добавления отзыва', '', '', '']
['review', 'rating', 'int', 'Y', 'Отзыв', 'Рейтинг отзыва', '', '', '']
['review', 'review', 'test', 'N', 'Отзыв', 'Текстовое описание отзыва', '', '', '']
['user', 'id', 'serial', 'Y', 'Пользователь', 'ID пользователя', 'PK', '', '']
['user', 'login', 'varchar(20)', 'Y', 'Пользователь', 'Логин пользователя', '', '', '']
['user', 'registered', 'timestamp', 'Y', 'Пользователь', 'Дата регистрации пользователя', '', '', '']

In [94]:
#С помощью xlwings создаем новый Excel файл
wb_2 = xw.Book()
wb_2.save('data/recipes_model.xlsx')

In [95]:
sheet_model = wb_2.sheets[0]
sheet_model.name = 'Модель'

In [98]:
sheet_model.range('A2').value = recipes_data

In [ ]:
#Скриншот прикреплен в папку data. Название: screenshot1.png

10. При помощи пакета `xlwings` добавьте в столбец J формулу для описания столбца на языке SQL. Формула должна реализовывать следующую логику:

    1\. в начале строки идут значения из столбцов В и C (значение столбца С приведено к верхнему регистру), разделенные пробелом
    
    2\. далее идут слова на основе столбца "Ключ"
        2.1 если в столбце "Ключ" указано значение "PK", то дальше через пробел идет ключевое слово "PRIMARY KEY"
        2.2 если в столбце "Ключ" указано значение "FK", то дальше через пробел идет ключевое слово "REFERENCES", затем значения столбцов H и I в формате "название_таблицы(название_столбца)"
        
    3\. если в столбце "Обязательно к заполнению" указано значение "Y" и в столбце "Ключ" указано не "PK", то дальше через пробел идет ключевое слово "NOT NULL".

Заполните этой формулой необходимое количество строк, используя "протягивание". Количество строк для протягивания определите на основе данных.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

11. При помощи пакета `xlwings` измените стилизацию листа `Модель`.
* для заголовков добавьте заливку цвета `00ccff`
* примените автоподбор ширины столбца;
* сделайте шрифт заголовков полужирным;
* добавьте таблице автофильтр.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

12. Посчитайте количество атрибутов для каждой из сущностей. Создайте лист `Статистика` и запишите в него результат группировки, начиная с ячейки "А1". Визуализируйте полученный результат при помощи столбчатой диаграммы. Сохраните полученную визуализацию на лист `Статистика`, начиная с ячейки "E2".  Сделайте скриншот листа `Статистика` и прикрепите в ячейку ноутбука.

* Вы можете воспользоваться методами для визуализации, которые поставляются вместе с объектами `pandas` (см. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot)